.device tr td:nth-child(2) {
  text-align: right;
}

.device tr.number td:nth-child(2) {
  padding-right: 0;
}

.device tr.number td:nth-child(3) {
  padding-left: 0;
}

.device tr.text td:nth-child(2) {
  text-align: right;
}
