.device tr td:nth-child(2) {
  text-align: right;
}

.device tr.number td:nth-child(2) {
  padding-right: 0;
}

.device tr.number td:nth-child(3) {
  padding-left: 0;
}

.device tr.text td:nth-child(2) {
  text-align: right;
}

@media screen and (max-width: 440px) {
  .device .message-body {
    padding: 1.25em 0.3em;
  }
}