@charset "utf-8";

@use "../node_modules/bulma/sass" with (
  $family-primary: 'BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;',
  $primary: #D01C3A,
);